@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	font-stretch: normal;
	src: url(Montserrat-normal-500.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	font-stretch: normal;
	src: url(Open_Sans-italic-300.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	font-stretch: normal;
	src: url(Open_Sans-normal-300.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	font-stretch: normal;
	src: url(Open_Sans-normal-500.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

