.section-contextual-menu {
  padding-top: 0;
  padding-bottom: 0;

  &.paddingTop {
    padding-top: 40px;
  }

  &.paddingBottom {
    padding-bottom: 40px;
  }

  li {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    a {
      text-decoration: none;
      display: block;
      font-weight: 700;
      font-size: 18px;
      padding-left: 10px;
      transition: color 0.5s ease-in-out;

      &:hover {
        color: #ccc;
      }
    }

    svg {
      width: 34px;
      height: 30px;
      stroke: #000;
    }
  }
}