.header-wrapper {
  position: relative;
  z-index: 1000;
  height: 90px;
  margin-bottom: 50px;;

  header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    width: 100%;
    height: 90px;
    padding: 20px 0;
    background-color: transparent;
    transition: background-color 0.5s ease-in-out;
  }

  .container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;

    @media (max-width: 1520px) {
      max-width: 100%;
      padding: 0 40px;
    }
    @media (max-width: 500px) {
      padding: 0 20px;
    }
  }
}

.is-scrolling .header-wrapper header {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px 10px 0px rgba(51,51,51,0.2);
}