{% from "../partials/text.njk" import text %}

<section class="section-intro {% if params.paddingTop %}paddingTop{% endif %} {% if params.paddingBottom %}paddingBottom{% endif %}">
  <div class="content">
    {% set info = params %}
    {{ text(info) }}
  </div>
</section>