---
title: Components Overview
layout: sections.njk
pageName: "componentsOverview"

sections:
  - component: intro
    disabled: false
    animateSection: false
    inContainer: true
    marginTop: false
    marginBottom: true
    paddingTop: false
    paddingBottom: true
    backgroundColor: ""
    targetId: ""
    title: Components
    header: "h1"
    subTitle: List of useful components
    prose: |-
      This list is a Work in Progress. If you like to add a particular component please contact me at the Metalsmith Community on [Gitter](https://gitter.im/metalsmith/community).

    hasCtas: false
    ctas:
      - url: ""
        label: ""
        isExternal: false
        isButton: true
        buttonStyle: "primary"
  
  - component: contextual-menu
    disabled: false
    animateSection: false
    inContainer: true
    marginTop: false
    marginBottom: false
    paddingTop: false
    paddingBottom: true
    backgroundColor: ""
    targetId: ""
    title: Components List
    header: "h2"
    subTitle: ""
    menu:
      - label: "Intro"
        url: "/components/intro"
        icon: "thumbs-up"
      - label: "Contextual Menu"
        url: "/components/contextual-menu"
        icon: "thumbs-up"
      - label: "Media"
        url: "/components/media"
        icon: "thumbs-up"
      - label: "Page Banner"
        url: "http://localhost:3000/components/page-banner/"
        icon: "sidebar"
      

---