{% from "../partials/icon.njk" import icon %}

<footer>
  <div class="container">
    {# <p>Last site build: {{ stats.atime | UTCdate }}</p> #}
    <p>Sandbox site by <a href="https://www.glinka.co/" target="_blank" rel="noopener noreferrer">
        <strong>{werner glinka}</strong>
      </a>
    </p>
  </div>
  <a class="to-top" href="#at-top">{{ icon("arrow-up-circle") }}</a>
</footer>